@model Apptower.Models.ParqueaderosDeEspacio

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ParqueaderosDeEspacio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEspacioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEspacioNavigation.IdEspacio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdParqueaderoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdParqueaderoNavigation.IdParqueadero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdParqueaderosDeEspacios">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
